*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style : none;
    box-sizing: border-box;
}

:root{
    --color-primary: #6c63ff;
    --color-success: rgb(0, 131, 35);
    --color-warning: #f7c94b;
    --color-danger: #f22e14;
    --color-danger-variant: rgba(246,88,66,0.4);
    --color-white: #ffff; 
    --color-light:rgba(255,255,255,0.7);
    --color-black:#000;
    --color-bg: #1f2641;
    --color-bg1: #2b2f63;
    --color-bg2: #474c95;
    
    --container-width-lg :76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}

body{
    font-family: "Squada+One", Verdana, Geneva, Tahoma, sans-serif ;
    line-height: 1.3;
    color: var(--color-white);
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;

}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 4.2;
}

h1{
    font-size: 2.5 rem;
}

h2{
    font-size: 2 rem;
}

h3{
    font-size: 1.6 rem;
}


h4{
    font-size: 1.3 rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn.hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn.primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/* NAV BAR */

nav{
    background: none ;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav scroll background using js*/
.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgb(59, 54, 79);

}

nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__menu a{
    font-size: 1rem;
    transition: all 500ms ease;
}

.nav__menu a:hover{
    color: var(--color-bg2);
}

/* --------- HEADER ---------------*/

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left p{
    margin: 1rem 0 2.4rem;

}

/* ---------- Cateogries-------*/
.categories{
    background: var(--color-bg1);
    line-height: 1.25;
    height: 30rem;
   /* margin-top: 2rem;*/
}

.categories h1{
    line-height: 1;
    
    margin-bottom: 3rem;
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
    /*gap: 4rem;*/
}

.categories-left{
    margin-right: 3rem;
}

.categories-left p{
    margin: 1rem 0 2rem;
}

.categories-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
}

.category{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    
}

.category:hover{
    box-shadow: 0 2rem 2rem #232121;
    z-index: 1;
}

.category:nth-child(2) .category-icon{
    background: rgb(75, 127, 247);
}

.category-icon{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 0.6rem;
}

.category h5{
    margin: 0.5rem 0 0.5rem;
}

/* This is for the courses section */

.courses{
   /* background: var(--color-bg);
*/    margin-top: 8rem;
}

.courses__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.course{
    background: var(--color-bg1);
    text-align: center;
    
    border: 1px solid transparent;
    
    transition: var(--transition);
   /* margin-right: 1rem;
*/
}

.course:hover{
    background: transparent;
    box-shadow: #6c63ff;
   /* border-color: #2b2f63;
*/}



.course-info{
    padding: 2rem;
}

.course-info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}


/* FAQ part */

.faqs{
    background-color: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgb(31, 31, 31);
    
}

.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2;

}

.faq-icon{
    align-self: flex-start;
    font-size: 1.1rem;
}

.faq p{
    margin-top: 0.6rem;
    display: none;
}

.faq.open p{
    display: block;
    
}


/* --------- Footer --------*/

footer{
    padding-top: 2rem;
    background : var(--color-bg1);
    
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.footer__container > div h4{
    margin-bottom: 1.1rem;

}

.footer-1 p{
    margin: 0 0 2rem;
}

footer ul li{
    margin-bottom: 0.6rem;

}

footer ul li a:hover{
    text-decoration: underline;
}

.footer-socials{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem ;
}

.footer-copyright{

    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid var(--color-bg);
}


/*--------Media Queries ( for tablets ) ---------*/

@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
        
    }

    p{
        font-size: 1.2rem;
    }
    h1{
        font-size: 2.3rem;
        line-height: 0.9;
    }

    
    h2{
        font-size: 1.8rem;
    }
    
    h3{
        font-size: 1.7rem;
    }
    
    h4{
        font-size: 1.4rem;
    }
    
/*------ NAV BAR tablets-----------------------*/
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.4rem;
        color: var(--color-white);
        cursor: pointer;

    }

    .close-menu-navigation{
        display: none;
    }

    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
       

    }
    .nav__menu li{
        width: 100%;
        height: 3rem;
        
    }



    .nav__menu li a{
        background: var(--color-primary);
        box-shadow: -2rem 4rem 8rem rgba(0,0,0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        
    }

    .nav__menu li a:hover{
        background: var(--color-bg2);
        color: var(--color-white);
    }

    /*---------------HEADER -----------*/
    header{
        height: 59vh;
        margin-bottom: 4rem;
    }

    .header__container{
        gap: 0;
        padding-bottom: 3rem;
    }

    .categories{
        height: auto;

    }
    .categories__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .categories-left{
        margin-right: 0;
    }

    /*--------POPULAR COURSES------*/
    .courses{
        margin-top:0 ;

    }
    .courses__container{
        grid-template-columns: 1fr 1fr;
    }

    /*-----------FAQ------------------*/
    .faqs__container{
        grid-template-columns: 1fr;
    }

    .faq{
        padding: 1rem;
    }
/*-----------------FOOTER---------------*/
    .footer__container{
        grid-template-columns: 1fr 1fr;

    }

}


@media screen and (max-width:600px){
    .container{
        width: var(--container-width-sm);
    }
    
    /*------NAV BAR-------------*/

    .nav__menu{
        right: 3%;
    }

    /*-----------HEADER ------------*/
    header{
        height: 90vh;
    }

    .header__container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header__left p{
        margin-bottom: 1.2rem;
    }

    /*----CATEGORIES MOBILE------*/

    .categories-right{
        grid-template-columns: 1fr 1fr;
        gap:0.3rem;
    }

    .category{
        padding: 0.7rem;
        border-radius: 0.8rem;
    }

    .category__icon{
        margin-top: 4px;
        display: inline-block;
    }

    /*--------------COURSES-----------------*/
    .courses__container{
        grid-template-columns: 1fr;
    }

    /*------------------FOOTER--------------*/
    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1rem;

    }

    .footer-1 p{
        margin: 0.7rem auto;
    }

    .footer-socials{
        justify-content: center;
    }

 
}